$bs-green: #46a546;
$navbarBrandColor: $bs-green;

/* $bodyBackground: lighten($bs-green, 40%); */

@import "bootstrap";

/* Universal */

html {
    overflow-y: scroll;
}

body {
    padding-top: 60px;
}

.center {
    text-align: center;
    h1 {
        margin-bottom: 20px;
    }
}

/* Sidebar */

.filter-sidebar ul {
    padding-left: 0;
}

/* Banner */

.banner {
    margin-bottom: 40px;
    position: relative;
    .btn {
        position: absolute;
        bottom: 20px;
        right: 20px;
    }
}

.tour {
    h2 {
        margin-bottom: 10px;
    }
    .guide {
        padding-right: 90px;
        border-right: 1px solid $grayLight;
    }
}

.description .image {
    margin-bottom: 15px;
}

/* Thumbnail */

.thumbnail {
    position: relative;
    .btn {
        position: absolute;
        bottom: 10px;
        right: 10px;
    }
    h2 {
        color: $white;
    }
}

/* footer */

footer {
    margin-top: 45px;
    padding: 15px 0;
    border-top: 1px solid $grayLight;
    color: #999;
}

footer a {
    color: #555;
}

footer a:hover {
    color: #222;
}

footer small {
    float: left;
}

footer ul {
    float: right;
    list-style: none;
}

footer ul li {
    float: left;
    margin-left: 10px;
}

@mixin box_sizing {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

input, textarea, select, .uneditable-input {
    border: 1px solid #bbb;
    width: 50%;
    padding: 10px;
    height: auto;
    margin-bottom: 15px;
    @include box_sizing;
}


/* Tours */

.tour-thumbnail .title {
    background-color: rgba(0, 0, 0, 0.5);
}

/* isotope transitions */
.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:         top, left, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}