<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Agora", root_url, class: "brand", id: "logo" %>
      <ul class="nav pull-right">
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Discover</a></li>
        <li><a href="#">Log in</a></li>
        <li><a href="#">Sign up</a></li>
      </ul>
    </div>
  </div>
</header>
